<!DOCTYPE html>
<html>
  <head>
    <title>Mifton</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <ul>
      <li><%= link_to("Top","/")%></li>
      <li><%= link_to("About Mifton","/about")%></li>
      <li><%= link_to("Bector","/bector")%></li>
      <li>Planeeds</li>
      <li><%= link_to("Tiprint","https://tiprint.net")%></li>
      <li>Qrafters</li>
      <li>MineCoders</li>
      <li><%= link_to("プライバシーポリシー","/privacypolicy")%></li>
      <li>利用規約</li>
      <li>開発マップ</li>
    </ul>
  </footer>
</html>
